<main>
  <app-learning-resources />

  <hr />

  <app-auth [(credential)]="myCredentials" (credentialChange)="listenToModelSignalChange($event)" />

  <!-- @if (isAdmin()) {
    <p>Only visible to Admin!</p>
  } -->

  <!-- <ng-template appAuth="admin">
    <p>Only visible to Admin!</p>
  </ng-template> -->

  <!-- <ng-template [appAuth]="'admin'">
    <p>Only visible to Admin!</p>
  </ng-template> -->

  {{ myCredentials.email }}

  <p *appAuth="'admin'" appCssClass="admin">Only visible to Admin!</p>
  <p *appAuth="'user'" appCssClass="authenticated">Only visible to Loged In User!</p>
  <p *appAuth="'guest'" appCssClass>Only visible to Guest User!</p>
</main>
